In [19]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_5_Project\CSV\NYCH.csv')
df

,address,city,price,bedroom_number,bathroom_number,living_space,zip_code
0,107-59,111st,640000.0,4.0,3.0,2000.0,11419
1,161-10,122nd,640000.0,5.0,3.0,2500.0,11434
2,33-65 14th St #3-9B,14th,450000.0,2.0,1.0,875.0,11106
3,132-11,157th,429000.0,5.0,6.0,2500.0,11434
4,160-21 16th Avenue #6-253,16th,270000.0,2.0,1.0,800.0,11357
...,...,...,...,...,...,...,...
118761,160-23 16th Ave,whitestone,225000.0,1.0,1.0,650.0,11358
118762,85-35 75th,woodhaven,825000.0,5.0,3.0,2000.0,11421
118763,85-61 Dexter,woodhaven,705000.0,6.0,2.0,1840.0,11421
118764,41-49 57th,woodside,555000.0,2.0,3.0,2000.0,11377
118765,63-14 Queens #5B,woodside,750000.0,3.0,2.0,1300.0,11377

In [21]:
df['city'].value_counts().head(40)

city
Brooklyn            17710
Staten Island       14460
Bronx               11636
New York            11551
Flushing             6006
Jamaica              5558
Buffalo              1426
Rochester            1374
Far Rockaway         1366
Long Island City     1205
Syracuse              733
Forest Hills          727
Yonkers               636
Schenectady           603
Albany                518
Astoria               466
White Plains          419
Jackson Heights       373
Scarsdale             367
Troy                  351
Poughkeepsie          347
Queens                346
Binghamton            334
Woodside              316
Rego Park             293
Little Neck           286
Niagara Falls         282
Bayside               279
East Elmhurst         276
Saratoga Springs      272
Mount Vernon          272
Utica                 267
New Rochelle          266
Bronxville            263
Middletown            256
Newburgh              250
Fresh Meadows         242
East Hampton          241
Southampton           228
Queens Village        228
Name: count, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118766 entries, 0 to 118765
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   address          118766 non-null  object
 1   city             118766 non-null  object
 2   price            118766 non-null  float64
 3   bedroom_number   118766 non-null  float64
 4   bathroom_number  118766 non-null  float64
 5   living_space     118766 non-null  float64
 6   zip_code         118766 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 6.3+ MB

In [23]:
import pandas as pd

# Check if the 'city' column contains any digits
contains_digits = df['city'].str.contains(r'\d', na=False)

# Get rows where 'city' contains digits
rows_with_digits = df[contains_digits]

# Display the rows with city names that contain digits
print(rows_with_digits)

                          address                                city  \
0                          107-59                               111st
1                          161-10                               122nd
2             33-65 14th St #3-9B                                14th
3                          132-11                               157th
4       160-21 16th Avenue #6-253                                16th
5                350 West 42nd St                          350w42ndst
6                350 West 42nd St                          350w42ndst
7              99-06 58th #APT 3C                              3c Ave
8                22-60 #1ST FLOOR                                94th
40529                   765 214th                   East 214th Street
40530                    415 #H1C                    East 52nd Street
50715            5837 Lawrence St  Flushing NY 11355 QueensBoro Hills
95605                         131                           South 1st
115523                     501 #1                          West 156th
115524                     501 #1                          West 156th
115525           2475 West 16 #4D                      West 16 Street

            price  bedroom_number  bathroom_number  living_space  zip_code
0        640000.0             4.0              3.0        2000.0     11419
1        640000.0             5.0              3.0        2500.0     11434
2        450000.0             2.0              1.0         875.0     11106
3        429000.0             5.0              6.0        2500.0     11434
4        270000.0             2.0              1.0         800.0     11357
5       1550000.0             1.0              1.0         885.0     10016
6       1550000.0             1.0              1.0         885.0     10016
7        278000.0             2.0              2.0        1000.0     11368
8          2100.0             2.0              1.0         900.0     11369
40529    980000.0             6.0              2.0        3000.0     10467
40530    782000.0             1.0              1.0        1000.0     10022
50715   1275000.0             5.0              3.0        2112.0     11355
95605   3779173.0             5.0              5.0        4545.0     11249
115523   380000.0             2.0              1.0         700.0     10032
115524   380000.0             2.0              1.0         700.0     10032
115525   300000.0             2.0              1.0         850.0     11214

In [24]:
rows_with_digits

,address,city,price,bedroom_number,bathroom_number,living_space,zip_code
0,107-59,111st,640000.0,4.0,3.0,2000.0,11419
1,161-10,122nd,640000.0,5.0,3.0,2500.0,11434
2,33-65 14th St #3-9B,14th,450000.0,2.0,1.0,875.0,11106
3,132-11,157th,429000.0,5.0,6.0,2500.0,11434
4,160-21 16th Avenue #6-253,16th,270000.0,2.0,1.0,800.0,11357
5,350 West 42nd St,350w42ndst,1550000.0,1.0,1.0,885.0,10016
6,350 West 42nd St,350w42ndst,1550000.0,1.0,1.0,885.0,10016
7,99-06 58th #APT 3C,3c Ave,278000.0,2.0,2.0,1000.0,11368
8,22-60 #1ST FLOOR,94th,2100.0,2.0,1.0,900.0,11369
40529,765 214th,East 214th Street,980000.0,6.0,2.0,3000.0,10467
40530,415 #H1C,East 52nd Street,782000.0,1.0,1.0,1000.0,10022
50715,5837 Lawrence St,Flushing NY 11355 QueensBoro Hills,1275000.0,5.0,3.0,2112.0,11355
95605,131,South 1st,3779173.0,5.0,5.0,4545.0,11249
115523,501 #1,West 156th,380000.0,2.0,1.0,700.0,10032
115524,501 #1,West 156th,380000.0,2.0,1.0,700.0,10032
115525,2475 West 16 #4D,West 16 Street,300000.0,2.0,1.0,850.0,11214

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118766 entries, 0 to 118765
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   address          118766 non-null  object
 1   city             118766 non-null  object
 2   price            118766 non-null  float64
 3   bedroom_number   118766 non-null  float64
 4   bathroom_number  118766 non-null  float64
 5   living_space     118766 non-null  float64
 6   zip_code         118766 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 6.3+ MB

In [27]:
print(X_train.columns)

Index(['address', 'city', 'bedroom_number', 'bathroom_number', 'living_space',
       'zip_code'],
      dtype='object')

In [28]:
# Step 1: Identify the relevant numeric and categorical features
numeric_features = ['bedroom_number', 'bathroom_number', 'living_space', 'zip_code']
categorical_features = []  # No categorical features are included since we're ignoring 'address' and 'city'

# Step 2: Drop irrelevant columns like 'address' or 'city'
X_train_relevant = X_train.drop(columns=['address', 'city'], errors='ignore')
X_test_relevant = X_test.drop(columns=['address', 'city'], errors='ignore')

# Step 3: Define the transformers for each column type
numeric_transformer = StandardScaler()

# Since no categorical features remain, we donâ€™t need a categorical transformer
# Step 4: Define the preprocessor with only numeric features
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features)
    ]
)

# Step 5: Define the pipeline with Random Forest regressor
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=100, random_state=42))
])

# Step 6: Fit the model on the relevant features
pipeline.fit(X_train_relevant, y_train)

# Step 7: Make predictions on the test set
y_pred = pipeline.predict(X_test_relevant)

In [31]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

# Step 1: Fit the model on the relevant features (already done)
pipeline.fit(X_train_relevant, y_train)

# Step 2: Make predictions on the test set
y_pred = pipeline.predict(X_test_relevant)

# Step 3: Calculate performance metrics

# RÂ² score
r2 = r2_score(y_test, y_pred)

# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Root Mean Squared Error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Step 4: Print the results
print(f"RÂ² score: {r2:.4f}")
print(f"Mean Absolute Error (MAE): {mae:.4f}")
print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")

RÂ² score: 0.6562
Mean Absolute Error (MAE): 307968.4378
Mean Squared Error (MSE): 1763024195025.7859
Root Mean Squared Error (RMSE): 1327789.2133

C:\Users\Sahan\.conda\envs\nu\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [30]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming the data is already split into X_train, X_test, y_train, y_test

# ColumnTransformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['bedroom_number', 'bathroom_number', 'living_space', 'zip_code']),
        # Add categorical feature transformations here if needed
    ])

# Define the pipeline with Lasso (L1 regularization)
pipeline_lasso = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', Lasso(alpha=1.0))  # L1 regularization
])

# Fit the pipeline
pipeline_lasso.fit(X_train, y_train)

# Make predictions on the test set
y_pred_lasso = pipeline_lasso.predict(X_test)

# Evaluate model performance
r2_lasso = r2_score(y_test, y_pred_lasso)
mae_lasso = mean_absolute_error(y_test, y_pred_lasso)
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
rmse_lasso = mse_lasso**0.5

# Print metrics
print(f"Lasso (L1 Regularization) Metrics:")
print(f"RÂ² score: {r2_lasso:.4f}")
print(f"Mean Absolute Error (MAE): {mae_lasso:.4f}")
print(f"Mean Squared Error (MSE): {mse_lasso:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse_lasso:.4f}")

Lasso (L1 Regularization) Metrics:
RÂ² score: 0.0767
Mean Absolute Error (MAE): 795771.5585
Mean Squared Error (MSE): 4734725313841.0029
Root Mean Squared Error (RMSE): 2175942.3967

In [32]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Initialize the Ridge regression model with an example alpha (you can tune this later)
ridge_model = Ridge(alpha=1.0, random_state=42)

# Fit the model
ridge_model.fit(X_train_relevant, y_train)

# Make predictions
y_pred_ridge = ridge_model.predict(X_test_relevant)

# Calculate metrics
r2 = r2_score(y_test, y_pred_ridge)
mae = mean_absolute_error(y_test, y_pred_ridge)
mse = mean_squared_error(y_test, y_pred_ridge)
rmse = np.sqrt(mse)

# Print the metrics
print(f"Ridge Regression Metrics:")
print(f"RÂ² score: {r2:.4f}")
print(f"Mean Absolute Error (MAE): {mae:.4f}")
print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")

Ridge Regression Metrics:
RÂ² score: 0.0767
Mean Absolute Error (MAE): 795771.7108
Mean Squared Error (MSE): 4734724719976.2832
Root Mean Squared Error (RMSE): 2175942.2603

In [33]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming X_train and y_train are your features and target
categorical_features = ['city', 'address']  # List of categorical features

# Train-test split (if not done already)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize CatBoost Regressor
model = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=6, cat_features=categorical_features, random_state=42)

# Fit the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate performance metrics
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print(f"RÂ² score: {r2}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

ModuleNotFoundError: No module named 'catboost'